<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    <form th:action="@{/user/new}" th:object="${user}" method="post">
        <br/> Name:
        <input type="text" th:field="*{username}"/>
        <br/> Email:
        <input type="text" th:field="*{email}"/>
        <br/> Password:
        <input type="text" th:field="*{password}"/>
        <br/>
        <input type="checkbox" name="roless" value="ROLE_USER"/> USER
        <input type="checkbox" name="roless" value="ROLE_ADMIN"/> ADMIN
        <input type="submit" value="Save"/>
    </form>

</div>
</body>
</html>