<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    <h2>Edit User</h2>
    <form th:action="@{/user/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
        <br/> Name:
        <input type="text" th:field="*{name}"/>
        <br/> Age:
        <input type="text" th:field="*{age}"/>
        <br/> Email:
        <input type="text" th:field="*{email}"/>
        <br/>
        <input type="submit" value="Update User"/>
    </form>
</div>
</body>
</html>